*{
    padding: 0;
    margin: 0;
}

header{
background: rgb(108, 92, 134);
display: flex;
justify-content: flex-end;
align-items: center;
padding: 30px 50px;
}

button{
    margin-left: 50px;
    font-family: Tahoma;
    padding: 10px 20px;
    border-radius: 30px;
    background: seashell;
    color: rgb(20, 152, 212);
    border: none;
    border: rgb(4, 57, 233) 2px solid;
}

button:hover{
    background: rgb(61, 214, 219);
    color:cornflowerblue;
    cursor: pointer;
}

nav a{
    margin-left: 40px;
    color: rgb(197, 191, 197);
    font-family: Tahoma;
    text-decoration: none;
}

.hero{
padding: 150px 50px;
background-image: url(Cosmos.jpg);
background-size: cover;
background-position: center center;
}

h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Hahmlet', serif;
}

.hero p{
    color: whitesmoke;
    max-width: 50%;
    margin-top: 20px;
    font-size: 20px;
    font-family: Tahoma;
}

footer{
    background: rgb(101, 72, 112);
    color: white;
    padding: 30px 50px;
    font-family: Tahama;
}
 
.card img{
    width: 70px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.card{
    width: 30%;
}

h2{
    font-family: 'Hahmlet', serif;
    color: rgb(107, 24, 163);
    padding: 20px 0;
}
.card h3{
    color: rebeccapurple;
    padding: 20px 0;
    font-family: 'Hahmlet', serif;
}
    
.section {
padding: 50px ;
background: plum;
text-align: center;
}

@media(max-width: 700px){
    header{ 
        flex-wrap: wrap;
        justify-content: center;
    }
    nav{
        margin-bottom: 20px;
        text-align: center;
    }
    nav a{
        margin: 0 10px;
    }

}

@media (max-width: 600px){
    .wrapper{
        flex-wrap: wrap;
    }
    
    .card{
        width: 80%;
        margin: 10px auto;
    }

    .hero p{
        max-width: 80%;
        margin: auto;
        text-align: center;
    }

    h1{
        text-align: center;
        margin-bottom: 20px;
    }

    .hero{
        padding: 50px 30px;
    }

    button{
        margin-left: 0 ;
    }

    footer{
        text-align: center;
    }
}
